
.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#matterRender {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;

  transform: rotateX(180deg);
}

#cursor {
  position: fixed;
  z-index: 1000;

  pointer-events: none;
  top: -0.65vw;
  left: -0.65vw;

  height: 1.3vw;
  width: 1.3vw;

  border: 1px solid white;
  border-radius: 60px;
}
