@font-face {
  font-family: "helios";
  src: url("/static/fonts/HELIOS-01-Regular.woff2") format("woff2"),
      url("/static/fonts/HELIOS-01-Regular.woff") format("woff");
}

body {
  font-family: 'nueva-std', serif;
  font-weight: 700;
  font-style: normal;
  background-image: url('/static/img/background.jpg');
  background-size: cover;
  color: #FFC75B;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 15em;
  font-weight: 100;
  text-shadow: 0 0 9px #FF0000;
  font-family: "helios";
}

.subtitle {
  margin-top: -50px;
  font-size: 35px;
}

a {
  color: #FF912C;
}

.webgl{
  display: none;
}

#intro {
  margin-top: 10%;
  text-align: center;
  opacity: 1;
}

#button{
  margin-top: 60px;
  cursor: pointer;
}

.sound {
  margin-top: 10%;
  animation: fadeIn 10s;
}
#scene1 {
  margin-top: 10%;
  visibility: hidden;
  display: flex;
  flex-grow: 50%;
}

.phaeton{
  width: 200%;
  animation: fadeIn 20s;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
