.transition {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'nueva-std-extended', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  color: #FFB662;

  background-image: url('https://helios.vercel.app/img/background.jpg');
  background-size: cover;
  opacity: 0;
  pointer-events: none;
}
.transition__top {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.transition__texts {
  width: 80%;
  max-width: 1900px;

  display: flex;
  flex-direction: column;
}
.transition__texts.-solo p {
  font-size: 40px;
  text-align: center;
  max-width: inherit!important;
}

.texts p {
  max-width: 700px;
  margin-bottom: 50px;

  opacity: 0;
  transform: translate3d(0, 30px, 0);
}
.texts p:nth-child(2),
.texts p:nth-child(4) {
  text-align: right;
  margin-left: auto;
}
.texts p:last-child {
  margin-bottom: 0px;
}

.transition__loader {
  position: absolute;
  bottom: 40px;
  right: 50px;

  width: 40px;
  height: 25px;
}

.transition__loader path {
  stroke-dashoffset: 42;
  stroke-dasharray: 42;
  animation: dash 2s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 42;
  }
  5% {
    stroke-dashoffset: 42;
  }
  48% {
    stroke-dashoffset: 0;
  }
  52% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -42;
  }
}

/* .transition.-see {
  opacity: 1;
  pointer-events: initial;
} */