@import './css/intro.css';
@import './css/ModelsLoader.css';
@import './css/transition.css';
@import './css/game.css';
@import './css/MenuContextuel.css';

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

* ::selection {
  background-color: none;
  color: currentColor;
}
